body {
  margin: 0;
  background: #FFF;
}
#player {
  width: 0.1%;
  height: 0%;
}
#captureeng{
padding: 10px 30px;
font-weight: bold;
font-size: 1.4em;
background-color: #248;
color: #fff;
border-style: none;
}
#resultText{ 
width: 80%; 
}